name: Test, Build & Publish to TestPyPI

on:
  push:
#    tags:
#      - 'v*'
#      - 'release*'
    branches:
      - develop

jobs:
  testing-on-py-36:
    name: Tox testing for Python 3.6
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: partitioning
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python 3.6
        uses: actions/setup-python@v5
        with:
          python-version: '3.6'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Testing with Tox
        run: |
          pip install tox tox-gh-actions
          tox

  testing-on-py-37-38-39-310-311-312:
    name: Tox testing for Python 3.7, 3.8, 3.9, 3.10, 3.11 & 3.12
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: partitioning
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, 3.10.x, 3.11, 3.12 ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Testing with Tox
        run: |
          pip install tox tox-gh-actions
          tox

  build-and-publish:
    name: Build and publish Python distribution to PyPI
    runs-on: ubuntu-latest
    needs:
      - testing-on-py-36
      - testing-on-py-37-38-39-310-311-312
    environment:
#      name: pypi
      name: testpypi
#      url: https://pypi.org/p/django-partitioning/
    permissions:
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install build tools & Build package
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          python -m pip install --upgrade build
          python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true # For Debugging in case of errors
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
